<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.musfikuroli.bda">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.musfikuroli.bda.NotificationsActivity"></activity>
        <activity android:name="com.musfikuroli.bda.SentEmailActivity" />
        <activity android:name="com.musfikuroli.bda.CategorySelectedActivity" />
        <activity android:name="com.musfikuroli.bda.ProfileActivity" />
        <activity android:name="com.musfikuroli.bda.MainActivity" />
        <activity android:name="com.musfikuroli.bda.RecipientRegistrationActivity" />
        <activity android:name="com.musfikuroli.bda.DonorRegistrationActivity" />
        <activity android:name="com.musfikuroli.bda.SelectRegistrationActivity" />
        <activity android:name="com.musfikuroli.bda.LoginActivity" />
        <activity android:name="com.musfikuroli.bda.ForgotPasswordActivity"
            tools:ignore="DuplicateActivity" />
        <activity android:name="com.musfikuroli.bda.AboutActivity"
            tools:ignore="DuplicateActivity,Instantiatable" />
        <activity android:name="com.musfikuroli.bda.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>